{% extends "base.html" %}

{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
                    <p class="post-meta">
                        {% for tag in tags %}
                            <a class="post-category post-category-yui" href="#">{{ tag }}</a>
                            <h1 class="content-subhead"></h1>
                        {% endfor %}
                    </p>
            </header>
        </section>
</div>
{% endblock %}
